<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl">
<head>
	<title></title>
	<script src="/components/angular/angular.js"></script>
	<script src="/js/gettext.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/en.js"></script>
</head>
<body ng-controller="MainCtrl">
	{{ 'Jazyk' | translate }}: <select ng-model="languages.current" ng-options="key as value for (key, value) in languages.available"></select>

	<br/>

	{{ 'Počet' | translate }}: <input ng-model="count"/>

	<p translate translate-n="count" translate-plural="plurals">Jedna loď</p>

	<p translate translate-n="count" translate-plural="['{{count}} králíci', '{{count}} králíků']">Jeden králík</p>

	<p translate>Ahoj</p>

	<select ng-model="langs.selected" ng-options="lang.code as lang.title | translate for lang in langs.available"></select>
</body>
</html>